.ant-layout {
  min-height: 100vh;
}
.ant-layout-content {
	padding: 1rem 1.5rem;
}

.ant-popover {
  width: 24rem;
}

.ant-form-item.no-margin {
  margin-bottom: 0;
}

.ant-upload.ant-upload-drag {
  .ant-upload {
    padding: 12px 0;
  }

  p.ant-upload-drag-icon {
    margin-bottom: 0;

    .anticon {
      font-size: 32px;
    }
  }
  p.ant-upload-hint {
    font-size: 12px;
  }
}

.ant-page-header {
  padding-left: 0;
  &.table-aligned {
    padding-left: 16px;
  }
}

.c-logo {
  padding: 1rem 1.5rem;
}

.ant-table.ant-table-small .ant-table-tbody > tr > td.editable-cell {
  padding: 2px;
  width: 128px;
}

.editable-cell-value-wrap {
  padding: 4px 5px;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

td.editable-cell input {
  width: 100%;
  padding: 4px;
}
/*

.ant-descriptions-title {
  margin-bottom: 8px;
}
*/

h4.ant-typography {
  font-size: 16px; // we want it consistent with the <Descriptions> component
}

.ant-layout-sider-dark .ant-divider {
  border-top: 1px solid rgba(255, 255, 255, .33);
  margin: 16px;
  width: auto;
}


.ant-layout-sider {
  background: $darkBlue1;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background: $darkBlue1;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: $blue;
}


.statistic-red {
  .ant-statistic-content-value, .ant-statistic-content-suffix {
    color: $red;
  }
}

.statistic-green {
  .ant-statistic-content-value, .ant-statistic-content-suffix {
    color: $green;
  }
}

.statistic-blue {
  .ant-statistic-content-value, .ant-statistic-content-suffix {
    color: $blue;
  }
}
