$cSwarm: #F99400;
$cSwarmBg: rgba(249, 158, 0, .05);

$orange: #f3902d;
$yellow: #f9d854;
$blue: #608db9;
$blueBg: rgba(96, 161, 185, .1);
$bright: #f2f4ed;
$grey1: #3f4243;
$grey2: #727272;
$grey3: #a8a7a7;
$grey4: #f6f7f7;
$red: #bd395a;
$green: #44a75a;
$white: #fff;

$darkBlue1: #192736;
