@import '~antd/dist/antd.css';
@import 'vars';
@import 'ant-hacks';
@import 'spacing';
@import 'utility';
@import 'side-box';
@import 'custom-card';
@import 'countdown';
@import 'dashboard';

.button-with-image {
  img {
    width: 20px;
    position: relative;
    left: -4px;
    top: -2px;
  }
}

.c-address {
  font-family: monospace;
  span {
    display: inline-block;
  }
}

.c-help {
  cursor: help;
}

.c-image-preview {
  height: 4rem;
  width: auto;
  position: relative;

  img {
    display: block;
    height: 4rem;
    width: auto;

    &:hover {
      height: 16rem;
    }
  }

  &.fit-width {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}



.code-sample {
  font-size: 12px;
  background: rgba(0, 10, 20, .05);
  border: 1px solid rgba(0, 10, 20, .2);
  padding: .5em;
}


.c-box {
  padding: 16px;
  border: 1px dotted $cSwarm;
  background: $cSwarmBg;
  button {
    background: $cSwarm !important;
    border: 1px solid $cSwarm !important;
  }
}

$raiseProgressHeight: 24px;
$raiseProgressRadius: 4px;

.raise-progress {
  //background: #a0d911;
  background: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: $raiseProgressRadius;
  position: relative;
  height: $raiseProgressHeight;
  .raised {
    z-index: 1;
    background: #f4ffb8;
    border: 1px solid #f4ffb8;
    border-radius: $raiseProgressRadius 0 0 $raiseProgressRadius;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .softcap {
    z-index: 2;
    background: #a0d911;
    position: absolute;
    top: -2px;
    width: .25rem;
    height: calc(#{$raiseProgressHeight} + 2px);
    border-radius: 2px;
  }
}

.c-fundraiser-investor-card {
  .token {
    width: 100%;
    p {
      font-size: 14px;
    }
  }
  .countdown, .status {
    width: 50%;
    height: 128px;
  }
}
