.side-box {
  padding: 0 24px;
  color: rgba(255, 255, 255, .75);
}

.side-box-title {
  color: #fff;
  font-size: 14px;
  img {
    position: relative;
    left: -2px;
    margin-right: 0px;
  }
  margin-bottom: 8px;
}

.side-box-body {
  font-size: 12px;
  padding-left: 24px;
}
